@theme {
  /* Breakpoints */
  --breakpoint-sm: 390px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1290px;

  /* Font Sizes + Line Height + Weight */
  --text-title-xs: 12px;
  --text-title-xs--line-height: 1.4;
  --text-title-xs--font-weight: 700;

  --text-title-sm: 14px;
  --text-title-sm--line-height: 1.5;
  --text-title-sm--font-weight: 700;

  --text-title-base: 16px;
  --text-title-base--line-height: 1.5;
  --text-title-base--font-weight: 700;

  --text-title-2xl: 24px;
  --text-title-2xl--line-height: 1.3;
  --text-title-2xl--font-weight: 600;

  --text-title-3xl: 30px;
  --text-title-3xl--line-height: 0.9;
  --text-title-3xl--font-weight: 700;

  --text-title-4xl: 36px;
  --text-title-4xl--line-height: 1.1;
  --text-title-4xl--font-weight: 700;

  --text-title-5xl: 54px;
  --text-title-5xl--line-height: 1;
  --text-title-5xl--font-weight: 700;

  --text-title-6xl: 60px;
  --text-title-6xl--line-height: 0.9;
  --text-title-6xl--font-weight: 700;

  --text-main-xs: 12px;
  --text-main-xs--line-height: 1.5;
  --text-main-xs--font-weight: 400;

  --text-main-sm: 14px;
  --text-main-sm--line-height: 1.5;
  --text-main-sm--font-weight: 400;

  --text-main-base: 16px;
  --text-main-base--line-height: 1.4;
  --text-main-base--font-weight: 400;

  --text-main-base-link: 16px;
  --text-main-base-link--line-height: 1.5;
  --text-main-base-link--font-weight: 600;

  --text-main-xl: 20px;
  --text-main-xl--line-height: 1.1;
  --text-main-xl--font-weight: 400;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-accent: #fd266c;
  --color-accent-hover: #fac175;
  --color-gray7: rgba(255, 255, 255, 0.07);
  --color-gray10: rgba(255, 255, 255, 0.1);
  --color-gray60: rgba(255, 255, 255, 0.6);
  --color-gray75: rgba(255, 255, 255, 0.75);
  --color-gray-90: rgba(227, 228, 230, 1);
  --color-primary-gray: #d0d0d0;
  --color-base-gray: #1b1819;
  --color-secondary-gray: #36382e;

  /* Gradient */
  --background-image-main-gradient: linear-gradient(270deg, #fac175 0%, #ff006a 68%, #8b5cf6 100%);
  --background-image-invert-main-gradient: linear-gradient(
    to right,
    #ff006a -20%,
    #fac175 50%,
    #8b5cf6 100%
  );
  --background-image-video-gradient:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 80.21%, #000 100%),
    linear-gradient(270deg, rgba(0, 0, 0, 0) 74.9%, #000 97%),
    linear-gradient(90deg, rgba(0, 0, 0, 0) 76.75%, #000 97%);

  --background-header-gradient: linear-gradient(
    180deg,
    rgba(12, 0, 0, 0.1) 0%,
    rgba(12, 0, 0, 0) 100% ;
  );

  --background-image-hero-overlay: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);

  /* Shadow */
  --shadow-main: 0 2.688px 9px 0 rgba(253, 38, 108, 0.55);
  --shadow-button: 0 0 38.633px 0 rgba(138, 38, 237, 0.07);

  /* Radius */
  --radius-secondary: 12px;
  --radius-base: 16px;
  --radius-primary: 32px;

  /* Borders */
  --border-width-2: 2px;

  /* Duration */
  --duration-main: 400ms;
}

@layer utilities {
  .font-title {
    font-family: var(--font-wadik), sans-serif;
  }
  .font-main {
    font-family: var(--font-poppins), sans-serif;
  }
  .font-extra {
    font-family: var(--font-inter), sans-serif;
  }

  .duration-main {
    transition-duration: var(--duration-main);
  }

  .bg-header-gradient {
    background: var(--background-header-gradient);
  }

  .bg-video-gradient {
    background: var(--background-image-video-gradient);
  }

  .border-gradient {
    background-image: var(--background-image-main-gradient);
  }

  .bg-hero-overlay {
    background: var(--background-image-hero-overlay);
  }
}
