@import 'tailwindcss';
@import '../styles/root.css';
@import '../styles/home-hero.css';
@import '../styles/home-based-on.css';

:root {
  --main-bg-color: #000000;
  --main-text-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);

  background-color: var(--main-bg-color);

  color: var(--main-text-color);
}

@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
